.header {
    position: fixed;
    top: 0; 
    width: 100%; 
    text-align: center;
}

.header .links {
    background: var(--color-dark-green);
    padding: 30px;
    text-align: center;  
}

.header .links  a {
    text-decoration: none;
    padding: 0 40px;
    color: var(--color-light-green);
    font-weight: bold;
    
}

.title {
    color: var(--color-dark-green);
    font-weight: bold;
    font-size: 30px;
}