:root {
    --color-background: #F0F0F7;
    --color-light-green: #94bf6e;
    --color-green: #3b8d61;
    --color-dark-green: #165751;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

body, input, button, textarea {
    font: 500 1.6rem Roboto;
    color: #000
}

button {
    background: var(--color-green);
    color: #fff;
    border: 0;
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 15px;
}